<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.title }} {{ page.section | remove: "splash" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="page-wrap">
            <header>
                <h1 class="site-title"><a href="/" title="">{{ site.title }} {{ page.section | remove: "splash" }}</a></h1>
            </header>
            <nav class="inline-nav">
                <ul class="float-right">
                    <li><a {% if page.current %} class="current" {% endif %} href="/about/" title="&Agrave; propos">&agrave; propos</a></li>
                    <!-- <li><a href="#" title="kontakt">kontakt</a></li> -->
                </ul>
                <ul>
                    <li><a href="/blog/" {% if page.section == "blog" %} class="current" {% endif %} title="Blog">blog</a></li>
                    <li><a href="/photography/israel-to-palestine" {% if page.photoset %} class="current" {% endif %}title="Photography">photography</a>
                        {% if page.photoset %}<ul class="set-nav">
                            {% for each in site.pages %}
                                {% if each.layout == 'photoset' %}  
                                    <li{% if each.title == page.title %} class="current"{% endif %}><a href="{{ each.url }}" title="{{ each.title }}">{{ each.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>{% endif %}
                    </li>
                </ul>
                
            </nav>
            <div id="main" role="main" class="{{ page.section }}">
                {{ content }}
            </div>
        </div>
        <footer id="global-footer">
            <div id="content-info" role="contentinfo">
                benji bilheimer | berlin, germany
            </div>
        </footer>
        {% if page.photoset %}
            <script>
                var photoWrap = document.getElementById('photo-wrap');
                var photoList = document.getElementById('photo-list');
                var navLeft = document.getElementById('nav-left');
                var navRight = document.getElementById('nav-right');
                var photoCount = photoList.children.length;

                var step = 1;

                navRight.onclick = 
                    function(){
                        if ( step < photoCount ) {
                            step ++;
                            adjustMargin(1);
                        }
                    };

                navLeft.onclick = 
                    function(){
                        if ( step > 1 ) {
                            step --;
                            adjustMargin(0);
                        }
                    };

                function adjustMargin( dir ) {

                    var width = (photoWrap.offsetWidth);

                    if ( photoList.style.marginLeft ) {
                        var currentVal = parseInt( photoList.style.marginLeft, 10 );
                        var marginVal = dir ? ( currentVal - width ) + "px" : ( currentVal + width ) + "px";
                    } else {
                        var marginVal = "-"+width+"px";
                    }

                    if ( step >= photoCount ) {
                        navRight.className += " disabled";
                    } else if ( step <= 1 ) {
                        navLeft.className += " disabled";
                    } else {
                        navRight.className = "photo-nav";
                        navLeft.className = "photo-nav";
                    }

                    photoList.style.marginLeft = marginVal;
                }
            </script>
        {% endif %}
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ site.analytics }}');ga('send','pageview');
        </script>
    </body>
</html>
